* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
  }
  
  body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: #37383a;
  }

  a {
    color: #2f1e84;
    text-decoration: none;
  }

  .btn {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #5d63ed;
    padding: 1.7rem 2.5rem;
    margin: 1.5rem 0;
    height: 5rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
  }
  
  .btn:hover {
    background-color: #2f1e84;
    transition: background-color 1s;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // width: calc(100%  / 3);
    margin: 1rem 0rem;
    padding: 3rem 2rem 3rem 2rem;
    border: 1px solid rgba(55, 56, 58, 0.1);
    border-radius: 5px;
  }